.chart-symbol {
    -fx-background-radius: 3px;
    -fx-padding: 3px;
}

.default-color2.chart-symbol { 
    -fx-background-radius: 0;
    -fx-padding: 6px 6px 6px 6px;
    -fx-shape: "M5,0 L10,9 L5,18 L0,9 Z";
}